@media screen and (max-width: 990px) {
    body {
        --padding: 1% 4% !important;
        /* margin-bottom: 10% !important; */

    }

    .fixedIons {
        width: 15%;
    }

    .showMenu {
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
    }


    .mobileMenuLeft {
        align-items: center;
        background-color: var(--blue);
        color: white;
        display: flex;
        line-height: 4;
        flex-direction: column;
        height: 100dvh;
        justify-content: center;
        overflow: hidden;
        padding: 5%;
        position: absolute;
        position: fixed;
        font-size: 1.2rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: all .5s cubic-bezier(.55, .06, .68, .19);
        width: 100%;
        z-index: 10;

        .close {
            position: absolute;
            top: 1%;
            right: 5%;
        }
    }

    .topBar,
    .menuBarContainer,
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    .sliderBottom {
        display: flex;
        position: static;
        top: 100% !important;
        flex-wrap: wrap;
        padding: var(--mPadding) !important;

        .sliderBottomItem {
            width: 48%;
            margin-top: 2.5%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 6% 1% 3% 1%;
        }

        .itemImage {
            padding: 18%;
        }

        .itemText {
            margin: 4% 0% 0% 0%;
            line-height: 1.2;
            font-size: 0.9rem;
        }
    }

    .mobileMenuContainer {
        padding: var(--mPadding);
        display: block;

        .mobileMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menuOpener {
            color: var(--blue);
            font-size: 1.5rem;
        }

        .mobileLogo {
            padding: 7% 10%;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
    }

    .bannerContainer {
        /* padding: 6% 0% 5% 0%; */
        height: 30dvh;
        background-size: cover !important;
        display: flex !important;
        align-items: center;

        .sliderText {
            width: 58%;
            line-height: 3;
        }

        .productImage {
            width: 35%;
            background-position: left;
        }

        .sliderDot {
            left: 3% !important;
            top: 88% !important;

        }

        .sliderContainer {
            line-height: 1.5;
            padding: 1%;

            .sliderText1 {
                font-size: 1rem;
            }

            .sliderText3 {
                font-size: 0.9rem;
            }

            .sliderText2 {
                font-size: 1.5rem;
            }

            .btn1 {
                width: 40%;
                font-size: 0.6rem;
                font-weight: 600;

            }

            .sliderIndicator {
                line-height: 0;
                margin-top: 4%;
            }
        }



        .leftNavigation,
        .rightNavigation {
            font-size: .7rem;
            width: 8%;
        }

    }

    .dryProductContainer {
        margin-top: 5% !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .aboutContainer {
        margin-top: 10%;

        .shortCreateBEAbout {
            flex-direction: column-reverse;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 3% 3% 5% 3%;
            margin-top: 5%;

            .aboutImage {
                width: 100%;
                padding: 9% 0%;
                margin-top: 5%;
            }
        }


    }



    .wm100 {
        width: 100%
    }

    .fasterStrongerSavingsContainer {
        flex-direction: column;
        margin: var(--padding);
        gap: 2em;
        padding: 1% 5%;
        margin-bottom: 5%;
        box-shadow: none;

        .fasterStrongerSavingsText {
            display: flex;
            align-items: center;
            gap: 1em;

            .caption {
                font-size: 1.5em;
            }
        }

        .fasterStrongerSavingsItem {
            width: 25%;
            gap: 1em;
        }

        .fasterStrongerSavingsImage {
            padding: 55%;
        }
    }

    .customer {
        padding: var(--padding);
        background-blend-mode: multiply;
        background-color: hsla(40, 1%, 55%, .5);
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 1em;

        .customerCaption {
            width: 100%;
        }

        .process_img {
            width: 100%;
        }

        .customerHead {
            font-size: 1.5em;
            font-weight: 500;
            /* padding-top: 5% */
        }
    }

    .shortcreteContentContent1 {
        margin-top: 10%;
    }

    .shortcreteContentContent3 div i {
        padding: 1.5%;
        height: auto;
        width: auto;
    }

    .shortcreteproductContainer {
        padding: var(--padding);
        flex-direction: column-reverse;

        .shortcreteContent {
            width: 100%;
            line-height: 1.5;
        }

        .shortcreteImage {
            padding: 40%;
            width: auto;
        }

    }

    .homeImage {
        display: block !important;
        height: 50vh;
    }

    .shotcretePanelsContainer {
        padding: var(--padding);
        line-height: 1.5;

        .shotcretePanelsLeft {
            width: 100%;
        }

        .shotcretePanelsRight {
            display: none;
        }



        .shortcretePanels {
            flex-direction: column;

            .shotcretePanel {
                width: 100%;
                padding: 5% 2%;

                .shotcretePanelName {
                    padding-top: 5%;
                    font-weight: 600;
                    font-size: 1.2em;
                    line-height: 1.5;

                }

                .shotcretePanelImage {
                    padding: 25% 0%;

                }

                .shotcretePanelCaption {
                    font-size: 0.8em;
                    padding: 0% 2%;
                    /* text-align: left; */
                }
            }
        }
    }

    .shortcreteMachineContainer {
        padding: var(--padding);
        flex-direction: column-reverse;
        line-height: 1.5;

        .shortcreteMachineRight {
            width: 100%;
        }

        .shortcreteMachineLeft {
            width: 100%;
            padding: 20% 0%;
        }
    }

    .advantages {
        padding: var(--padding);
        padding-top: 7%;
        padding-bottom: 7%;
        background-image: none;

        .advantageRow {
            flex-direction: column;
            width: 100%;

            .column1 {
                width: 100%;
                font-size: 0.85rem;
                font-size: 0.85rem;
                padding: 2%;
            }

            .column2 {
                width: 100%;
                padding: 47%;
            }

            .hundred {
                display: none;
            }
        }

    }

    .buildEasyProductsContainer {
        padding: 10% 0%;

        .productFilter {
            justify-content: space-around;
            line-height: 2.5;
        }

        .buildEasyProducts {
            flex-wrap: wrap;
            padding: var(--padding);
            column-gap: 2%;

            .buildEasyProduct {
                padding: 3% 2%;
                margin-bottom: 5%;
                width: 49%;

                .size {
                    padding-bottom: 5%;
                    font-size: 0.9rem;
                }

                .description {
                    font-size: 0.8em;
                    padding: 1% 0%;
                }

                .productImg {
                    padding: 42%;
                }

                .productName {
                    line-height: 1;
                    margin: 5% 0%;
                }
            }

        }
    }

    .howItWorksContainer {
        padding: var(--padding);

        .howItWorkItems {
            justify-content: space-between;

            .howItWorkItem {
                width: 49%;
                margin-bottom: 5%;

                .name {
                    padding: 6% 2%;
                    margin-top: 10%;
                    text-transform: uppercase;
                }

                .img {
                    padding: 15%;
                }
            }
        }
    }

    .happyClientsContainer {
        .productHead {
            margin-bottom: 2%;
        }

        .happyClients {
            flex-direction: column;
        }

        .happyClientsLeft,
        .happyClientRight {
            width: 100%;
        }

        .testimonialContainer {
            padding: 5%;
            margin: 0% 2%;
            height: max-content;
        }

        .happyClientsRight {
            padding: 26% 10%;
            margin-top: 4%;
            width: 100%;
        }
    }

    .contactUs {
        flex-direction: column;
        padding: var(--padding);

        .contactUsLeft {
            width: 100%;
        }

        .contactUsRight {
            height: 70dvh;

            margin-bottom: 3%;

        }
    }

    .dryMixInfo {
        display: flex;
        flex-direction: column;

        .dryMixContent {
            width: 100% !important;
        }

        .dryImage {
            width: 100% !important;
            padding: 75% 0%;
            margin-top: 0%;
        }
    }

    .productDetailContainer {
        flex-direction: column;

        .backBtn {
            /* right: 10% !important; */
            left: 3% !important;
            bottom: 4% !important;
            right: 87% !important;
            position: fixed !important;

            font-size: 1.2em !important;
            padding: 0.4rem 0.4rem !important;
        }

        .productImage,
        .productInfo {
            width: 100% !important;
        }

        .productInfo {
            padding: 0;

            .size {
                padding: 7% 0%
            }
        }

        .productImage {
            padding: 40% 0%;
        }
    }

}