.tJustify{
    text-align: justify;
}
.bannerContainer {
    background-image: url(/images/bannerbg.jpg);
    /* height: 78dvh; */
    padding: 8% 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: hsla(40, 1%, 55%, .5);
    position: relative;
}

.sliderBottom {
    position: absolute;
    top: 87%;
    display: flex;
    width: 100%;
    padding: 0 20%;
    justify-content: space-between;
}

.sliderBottomItem {
    color: #8d8f90;
    width: 23%;
    background-color: #ffffff;
    padding: 5% 1% 2% 1%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.itemImage {
    padding: 27%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sliderBottomItem .itemText {
    margin: 12% 0%;
    line-height: 1.5;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}

.sliderBottomItem img {
    width: 60%;
    padding: 3%;
}

/* about */
.aboutContainer {
    padding: var(--padding);
    margin-top: 18%;
    .aboutBEText{
        color: var(--gray);
        text-align: left;
        line-height: 1.5;
    }
    .aboutBE_Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shortCreateBEAbout{
        display: flex;
        padding: 4% 0%;
        justify-content: space-between;
    }
}


.aboutImage {
    width: 35%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10%;
}

.aboutText {
    width: 59%;
    text-align: left;
}

.aboutText .btn1 {
    color: white;
}

.line {
    display: flex;
    gap: 1%;
    padding-bottom: 5%;
}

.line div {
    background-color: var(--blue);
    height: 5px;
    border-radius: 4px;
}

.line .first {
    width: 8%;
}

.line .second {
    width: 4%;
}

.line .third {
    width: 2%;

}

.aboutUsHead1 {
    font-size: 1.4em;
    color: var(--blue);
    font-weight: 600;
    line-height: 2;
}

.aboutUsHead2 {
    font-size: 2.2em;
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.02em;
    padding-bottom: 1%;
}

.aboutUsContent {
    color: var(--gray);
    line-height: 1.5;
    font-size: 0.96em;
}

/* fasterStrongerSavings */
.fasterStrongerSavingsContainer {
    display: flex;
    margin: var(--margin);
    margin-top: 4%;
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 3% 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
}

.fasterStrongerSavingsItem {
    display: flex;
    width: 30%;
    gap: 1.2em;
    align-items: center;
}



.fasterStrongerSavingsImage {
    padding: 20%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.percentage {
    font-size: 3rem;
    font-weight: 900;
    color: var(--blue);
}

.fasterStrongerSavingsText {
    width: 30%;
}

.fasterStrongerSavingsText .caption {
    font-size: 2em;
    font-weight: 600;
}

.advantages {
    padding: 3% 12% 3% 12%;
    margin-top: 5%;
    background-color: var(--blue);
    color: #fbc72f;
    position: relative;
    background-blend-mode: multiply;
    background-image: url("/images/adv_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

    .productSubHead {
        color: white;
    }

    .advantageRow {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        /* margin-top: 1%; */
        align-items: center;

        .column1 {
            width: 47%;
            color: var(--gray);
            text-align: left;
            line-height: 2;
            font-size: 0.95rem;
            color: white;
            /* padding: 2% 0%; */
            font-weight: 300;

            .hundred {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 12%;
                bottom: 3%;
                padding: 5%;
                /* margin-top: 5%; */
            }
        }

        .column2 {
            width: 100%;
            padding: 25%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        /* .column3 {
            width: 30%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } */
    }
}

.fixedIons {
    position: fixed;
    flex-direction: column !important;
    right: 2%;
    top: 40%;
    width: 3%;
    color: white;

    .whatsapp {
        background-color: green !important;
    }

    .gmail {
        background-color: #e34033 !important;

    }

    .instagram {
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

    }

    .icon {
        background-color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border:2px solid white;

        .iconhref {
            /* padding: 4% 0%; */
            width: 100%;
            padding: 27% 0% 15% 0%;

        }

    }
}

.customer {
    background-image: url("/images/customer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 0%;
    /* margin-top: 5%; */
}

.customerHead {
    color: #fbc72f;
    font-size: 1.7em;
    display: flex;
    line-height: 2;
}

.customerCaption {
    width: 50%;
    color: white;
    line-height: 1.2;
    font-weight: 200;
}

.process_img {
    width: 37%;
    margin: 1% 0%;

    /* todo width */
}

.QaQ {
    font-size: 1.7em;
    color: white;
}

.QaQ span {
    color: #fbc72f;
    font-weight: 500;
}

/* shortcreteproduct */

.shortcreteproductContainer {
    display: flex;
    padding: var(--padding1);
    margin: 5% 0%;
    justify-content: space-between;
}

.shortcreteImage {
    background-image: url(../assets/shortcrete.png);
    width: 43%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.shortcreteContent {
    text-align: left;
    width: 55%;
    padding: 2%;
}

.shortcreteContentContent1,
.productSubHead {
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 800;
}

.shortcreteContentContent2,
.productHead {
    font-size: 1.5rem;
    font-weight: 500;
}

.shortcreteContentContent3 {
    color: var(--gray);
    line-height: 2;
    font-size: 0.9rem;
    margin: 1% 0%;
}

.shortcreteContentContent3 div .icon {
    color: var(--blue);
    font-size: 0.6rem;
    /* height: 1.2vh;
    width: 2.2%; */
    /* border-radius: 50%; */
}

.shortcreteContentContent3 div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2%;
    color: black;
}

.shortcreteContent {
    line-height: 1.2;
    font-weight: 400;
    /* color: var(--); */
}

/* shotcretePanels */
.shotcretePanelsContainer {
    display: flex;
    padding: var(--padding1);
    padding-right: 0px;
    padding-top: 5%;
    /* padding-bottom: 5%; */
    text-align: left;
    justify-content: space-between;
    position: relative;
}

.shortcretePanels {
    display: flex;
    justify-content: space-between;

    .shotcretePanelImage:hover {
        transform: skew(-15deg);
        transition: transform 2s ease;
    }
}

.shotcretePanel {

    width: 32.45%;
    margin: 5% 0%;
    padding: 3%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.shotcretePanelsLeft {
    width: 51%;
}

.shotcretePanelsRight {
    width: 40%;
}

.shotcretePanelImage {
    padding: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.shotcretePanelName {
    padding-top: 7%;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 2;
    text-transform: uppercase;
    color: var(--blue);
}

.shotcretePanelCaption {
    font-size: 0.7em;
    color: var(--gray);
    line-height: 1.5;
}

.shotcretePanelsRight {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10% 0%;
    position: absolute;
    height: 100%;
    right: 0;
}

/* shortcreteMachine */
.shortcreteMachineContainer {
    display: flex;
    padding: var(--padding1);
    margin: 1% 0%;
    text-align: left;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* gap: 8% */
}

.shortcreteMachineLeft {
    width: 39%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4% 0%;
    display: none;
    background-position: center;
}

.shortcreteMachineRight {
    /* width: 58%; */
    width: 100%;
    padding: 4% 0%;

}

/* buildEasyProducts */
.buildEasyProductsContainer {
    background-color: var(--bgGray);
    padding: var(--padding1);
    padding: 5% 0%;
    line-height: 2;
}

.productFilter {
    display: flex;
    line-height: 4;
    gap: 8%;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--gray);
    font-weight: 600;

    .active {
        background-color: var(--blue);
        color: white;
    }

    .filterBtn {
        font-size: 0.7em;
        padding: 0% 3%;
        line-height: 2.5;
    }

}

.productFilter div {
    cursor: pointer;
}



.buildEasyProducts {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding1);
    column-gap: 1%;
    line-height: 1.5;
    /* justify-content: space-between; */

    /* margin: 2% 0%; */
    .buildEasyProduct {
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
        background-color: white;
        border-radius: 5px;
        padding: 1.5%;
        width: 24%;
        margin-top: 2%;
    }

    .productName {
        font-weight: 700;
        margin-top: 5%;
    }

    .description {
        font-size: 0.8em;
    }

    .size {
        color: var(--blue);
        font-weight: 700;
        padding-top: 3%;
        font-size: 0.7em;
    }
}


.productImg {
    background-size: contain;
    padding: 50% 0%;
    background-repeat: no-repeat;
    background-position: center;
}

/* howItWorks */
.howItWorksContainer {
    padding: var(--padding2);
    padding-bottom: 5%;
    margin: 6% 0% 0% 0%;

    .productHead {
        color: var(--blue);
        font-size: 1.8em;
        font-weight: 600;
    }

    .howItWorksDescription {
        line-height: 2;
    }

    .howItWorkItems {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        /* gap: 10%; */
    }

    .howItWorkItem {
        width: 33%;
        margin-top: 5%;
    }

    .img {
        padding: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .name {
        line-height: 1.5;
        font-size: 0.8em;
        padding: 0% 24%;
        margin-top: 3%;
    }
}

/* happyClients */
.happyClientsContainer {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    margin-bottom: 5%;
    margin-top: 3%;

    .productHead {
        margin-bottom: 4%;
        line-height: 2;
    }

    .testimonialContainer {
        background-color: var(--bgGray);
        padding: 5%;
        text-align: left;
        font-size: 0.8em;
        line-height: 1.5;
        color: var(--gray);
        position: relative;
        height: 32vh;

    }

    .testimonial {
        margin-top: 2%;
        line-height: 2;
    }

    .happyClientsLeft,
    .happyClientRight {
        width: 98%;
    }

    .name {
        color: var(--blue);
        font-weight: 700;
    }

    .row {
        display: flex;
        gap: 3%;
        align-items: center;
        /* flex-direction: column; */
    }

    .avatar {
        padding: 4%;
        width: 5%;
        background-color: #fbc72f;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: contain;

    }

    .location {
        font-size: 0.9em;
    }

    .quote {
        position: absolute;
        bottom: 0;
        color: var(--blue);
        font-size: 1.4em;
        right: 10%
    }

    .happyClients {
        display: flex;
        justify-content: space-between;
    }

    .happyClientsRight {
        width: 45%;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

}

.mobileMenuContainer,
.mobile {
    display: none;
}

/* .slickTestimonials { */
/* .slick-dots li.slick-active button:before {
    color: var(--blue) !important;
} */
.slickTestimonials li button:before {
    color: var(--blue) !important;

}

.slickTestimonials {
    .slick-prev {
        left: -35px !important
    }

    .slick-next {
        right: -35px !important
    }

    .slick-prev:before,
    .slick-next:before {
        color: var(--blue) !important;
    }

    .marginTopDots {
        bottom: -16% !important;
    }
}

.contactUs {
    background-color: var(--blue);
    display: flex;
    line-height: 2em;
    margin-top: 5%;
    padding: var(--padding);
    padding-right: 0;
    position: relative;

    .mt5 {
        margin-top: 5%;
    }

    .bold {
        font-weight: 700;
    }

    .subContents {
        font-size: 0.8em;
        line-height: 2.5;

    }

    .contactUsLeft {
        background-color: var(--blue);
        color: white;
        line-height: 2;
        padding: 5% 3%;
        position: relative;
        width: 50%;
        text-align: left;

        div {
            padding: 2% 0;
            margin-top: 12%;
        }


    }

    .sectionHead {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        gap: 3%;
    }

    .aboutUsHead,
    .sectionMainHead {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.3;
        padding-bottom: 2%;
        text-transform: uppercase;
    }

    .contactUsRight {
        width: 100%;
    }

}

.scrollToTop {
    position: fixed;
    bottom: 3%;
    right: 3%;
    font-size: 2em;
    color: var(--blue) !important;
}
.dryProductContainer{
    padding: var(--padding);
    padding-top: 3%;
    padding-top: 3%;
    .aboutUsHead1{
        text-align: left;
    }
    .dryMixInfo{
        display: flex;
        position: relative;
        justify-content: space-between;
        .dryImage{
            /* padding: 10% 0%; */
            width: 30%;
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 8%;
            /* .logo{
                position: absolute;
                top: 0;
                right: 10%;
                width: 100% ;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            } */
        }
        .dryMixContent{
            width: 65%;  
            text-align: left;
            color: var(--gray);
            line-height: 1.5;
            font-size: 0.96em;
        }
    }
}