.galleryContainer {
    padding: var(--padding);

    .productHead {
        text-transform: uppercase;
        font-weight: 200;
        padding-top: 1%;
    }

    .galleryImages {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 5%;
        /* column-gap: 3%; */
    }

    .galleryItem {
        padding: 12% 0%;
        /* padding: 25% 0%; */
        background-repeat: no-repeat;
        width: 32.5%;
        margin-top: 1.5%;
        background-position: center;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 990px) {
    .galleryImages {
        flex-direction: column;

        .galleryItem {
            width: 100%;
            padding: 40% 0%;
        }
    }
}